@import url("../fonts.css");
.countdown {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: url("../../assets/imgs/countdown.jpg") no-repeat center center; */
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.countdown-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0.1) 70%,
    rgb(255, 255, 255) 100%
  );
  background-color: rgba(0, 0, 0, 0.3);
}

.timer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 10;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.title,
.timer-components,
.message {
  white-space: normal;
  z-index: 1;
  max-width: 100%;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.timer-components {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timer-components span {
  margin: 0.5rem;
}

.message {
  font-family: "GreatVibes" !important;
  font-weight: 100;
  font-size: 4rem;
}

/* Media queries para diferentes tamaños de pantalla */
@media screen and (min-width: 480px) {
  .title {
    font-size: 2.5rem;
  }
  .timer-components {
    font-size: 3rem;
  }
  .message {
    font-size: 3.5rem;
  }
  .countdown-logo {
    width: 45%;
    max-width: 180px;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
  .timer-components {
    font-size: 3.5rem;
  }
  .message {
    font-size: 4rem;
  }
  .countdown-logo {
    width: 50%;
    max-width: 250px;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 3.5rem;
  }
  .timer-components {
    font-size: 4rem;
  }
  .message {
    font-size: 5rem;
  }
  .countdown-logo {
    max-width: 300px;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 4rem;
  }
  .timer-components {
    font-size: 5rem;
  }
  .message {
    font-size: 6rem;
  }
  .countdown-logo {
    max-width: 400px;
    margin-bottom: 3rem;
  }
}
