/* src/components/FrontPage.css */
@import url("../fonts.css");

.front-page {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 20px;
  background-position: center -18rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.frontPage-overlay * {
  margin: 40px 5px;
}
.frontPage-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0.1) 70%,
    rgb(255, 255, 255) 100%
  );
  background-color: rgba(0, 0, 0, 0.3);
}

.front-page h1 {
  color: white;
  font-size: 9rem;
  text-align: center;
  font-family: "GreatVibes" !important;
  font-weight: 100;
}
/* NOS CASAMOS */
.front-page h2 {
  /* opacity: 0; */
  color: white;
  font-size: 2rem;
  margin-top: 10px;
  padding-top: 0;
  text-align: center;
}

.front-page p {
  /* opacity: 0; */
  color: white;
  font-size: 1.5rem;
  margin-top: 10px;
  padding-top: 0;
  text-align: center;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .front-page {
    height: 100vh;
    background-position: center center;
  }

  .frontPage-overlay {
    justify-content: center;
    /* padding: 2rem 0; */
  }

  .front-page h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-top: -2rem;
  }
  .front-page h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .front-page p {
    /* opacity: 0; */
    color: white;
    font-size: 1rem;
    margin-top: 10px;
    padding-top: 0;
    text-align: center;
  }
}

/* Ajuste adicional para tablets */
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .front-page {
    height: 100vh;
    background-position: center center;
  }

  .front-page h1 {
    font-size: 3rem;
    margin-bottom: 150px;
  }

  .frontPage-overlay {
    justify-content: space-between;
    /* padding: 2rem 0; */
  }
}
